name: "Check for changes in OpenApi specifications"
on:
  schedule:
  - cron: "10 0 * * 5"
  workflow_dispatch:
    inputs:
      nodeVersion:
        description: Node version to use
        required: false
        default: "lts/*"

permissions: {}

jobs:
  CheckVersion:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js latest version
      uses: actions/setup-node@v4
      with:
        node-version: ${{ github.event.inputs.nodeVersion }}
    - run: npm ci --ignore-scripts --no-audit --no-progress --prefer-offline
    - run: npm run build --if-present
    - run: npm run cloneOas
    - run: npm run checkOasVersions
    
